@use "sass:meta";
@use 'libs/bootstrap-reboot';
@use 'libs/fonts';
@use 'base/variables';

* {
    font-family: 'Rubik', sans-serif;
    margin: 0;
    padding: 0;
} 

.container {
    position: relative;
    max-width: 1170px;
    padding: 0 10px;
    margin: 0 auto;
    /* background-color: lightgray; */
}

.container.container_width-1440 {
    position: relative;
    max-width: 1440px;
    padding: 0 10px;
    margin: 0 auto;
}

.container.container_width-1920 {
    position: relative;
    max-width: 1920px;
    margin: 0 auto;
    padding: 0px 0px;
}

.container.container_width-800 {
    position: relative;
    max-width: 800px;
    margin: 0 auto;
    padding: 0px 10px;
}

.container.container_width-800.container_hide {
    display: none;
}

a {
    color: variables.$black;
    text-decoration: none;
    &:hover {
        color: variables.$black;
        text-decoration: none;
    }

}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0;
}

h2 {
    font-style: italic;
}

p {
    margin-bottom: 0px;
}




@include meta.load-css('blocks/buttons');
@include meta.load-css('blocks/header');
@include meta.load-css('blocks/main');
@include meta.load-css('blocks/poem');
@include meta.load-css('blocks/lections');
@include meta.load-css('blocks/wts');
@include meta.load-css('blocks/prabhupada');
@include meta.load-css('blocks/footer');

@include meta.load-css('blocks/media');
