/* .playbutton {
    width: 156px;
    height: 156px;
    border-radius: 100%;
    background-color: hsla(0, 0%, 100%, 0.77);
    mix-blend-mode: overlay;
    display: flex;
    justify-content: center;
    align-items: center;
    &__108 {
        width: 108px;
        height: 108px;
        background-color: $white;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            margin-left: 10px;
        }
    }

    &_align-center {
        margin: 0px auto;
    }
} */

.main-playbutton {
    position: relative;
    &__bg {
        width: 156px;
        height: 156px;
        border-radius: 100%;
        /* background: #FFFFFF;
        background-blend-mode: overlay;
        opacity: 0.77; */
        /* background-color: hsla(0, 0%, 100%, 0.7);
        mix-blend-mode: overlay; */
        background: rgba(255, 255, 255, 0.05);
        backdrop-filter: blur(9px);
        &_align-center {
            margin: 0px auto;
        }
    }
    &__icon {
        width: 108px;
        height: 108px;
        background-color: $white;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        &_align-center {
            margin: 0px auto;
        }
        &_pa-1 {
            position: absolute;
            left: 0px;
            right: 0px;
            top: 24px;
            z-index: 1;
        }
        img {
            margin-left: 10px;
        }
    }
}

