.header {
    background-color: $white;
    border-bottom: 2px solid $lightgray;
    position: fixed;
    z-index: 3;
    width: 100vw;
    &__content {
        height: 60px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: 0%;
    }
    &__logo {
        display: inline-block;
        font-family: 'Rubik';
        font-weight: 600;
        font-style: bold;
        font-size: 18px;
        color: $black;

    }
    &__menu {
        display: inline-block;
    }
    &__menuitem {
        display: inline-block;
        font-family: 'Rubik';
        font-weight: 400;
        font-style: normal;
        font-size: 16px;
        color: $black;
        &_mr-40 {
            margin-right: 40px;
        }
    }
    &__hamburger {
        display: none;
    }
    &__popupmenu {
        display: none;
        position: fixed;
        left: 0px;
        right: 0px;
        top: 0px;
        bottom: auto;
        width: 100vw;
        height: 100vh;
        z-index: 99;
        background-color: $green;
        transition: 0.6s all;
        &_show {
            display: block;
        }
        overflow: auto;
    }
    &__p-menu-wrapper {
        height: 100vh;
        display: flex;
        justify-content: right;
        align-items: center;
        &_mt-m30 {
            margin-top: -30px;
        }
    }
    &__p-menu {
        margin: 0px auto;
        width: 500px;
        padding-top: 40px;
        padding-bottom: 40px;
    }
    &__p-menuitem {
        display: block;
        font-family: 'Playfair Display Bold';
        color: $black;
        font-weight: 600;
        font-size: 34px;
        line-height: 1.2em;
        &_mb-36 {
            margin-bottom: 36px;
        }
    }
    &__close-wrapper {
        height: 60px;
        display: flex;
        justify-content: right;
        align-items: center;
    }

}