.header {
    background-color: $white;
    border-bottom: 2px solid $lightgray;
    position: fixed;
    z-index: 3;
    width: 100vw;
    &__content {
        height: 60px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: 0%;
    }
    &__partone-wrapper {
        display: flex;
        align-items: center;
        gap: 30px;
    }
    &__social {
        display: flex;
        align-items: center;
        gap: 30px;
    }
    &__logo-wrapper {
        margin-bottom: 2px;
    }
    &__logo {
        width: 114px;
    }
    &__separator {
        display: inline-block;
        width: 1px;
        height: 40px;
        background-color: $lightgray;
    }
    &__menu {
        display: inline-block;
    }
    &__menuitem {
        display: inline-block;
        font-family: 'Rubik';
        font-weight: 400;
        font-style: normal;
        font-size: 16px;
        color: $black;
        &_mr-40 {
            margin-right: 40px;
        }
    }
    &__hamburger {
        display: none;
        cursor: pointer;
    }
    &__popupmenu {
        /* display: none; */
        right: -100%;
        position: fixed;
        /* left: 0px; */
        right: calc(-100% - 20px);
        top: 0px;
        bottom: auto;
        width: 100vw;
        height: 100vh;
        z-index: 99;
        background-color: $green;
        transition: all 0.3s ease-in-out;
        &_show {
            /* display: block; */
            right: 0px;
        }
        overflow: auto;
    }
    &__p-menu-wrapper {
        height: 100vh;
        display: flex;
        justify-content: right;
        align-items: center;
        &_mt-m30 {
            margin-top: -30px;
        }
    }
    &__p-menu {
        margin: 0px auto;
        width: 500px;
        padding-top: 40px;
        padding-bottom: 40px;
    }
    &__p-menuitem {
        display: block;
        font-family: 'Playfair Display Bold';
        color: $black;
        font-weight: 600;
        font-size: 34px;
        line-height: 1.2em;
        &_mb-36 {
            margin-bottom: 36px;
        }
    }
    &__close-wrapper {
        height: 60px;
        display: flex;
        justify-content: right;
        align-items: center;
    }
    &__bt-close {
        cursor: pointer;
    }

}