.main {
    position: relative;
    height: 1220px;
    background-color: $orange;
    /* background-image: url(../img/lp-img-Prabhupada_b.png);
    background-position: 50% 100%;
    background-size: 1920px;
    background-repeat: no-repeat; */
    &__prabhupada {
        position: absolute;
        left: 0%;
        top: 0%;
        right: 0%;
        bottom: auto;
        display: block;
        height: 1220px;
        max-width: 1920px;
        margin: 0px auto;
        background-color: $orange;
        background-image: url(../img/lp-img-Prabhupada_b.png);
        background-position: 50% -200px;
        background-size: contain;
        background-repeat: no-repeat;

    }
    &__content {
        position: relative;
        margin-top: 30%;
        z-index: 2;
    }
    &__message {
        &_mt-40 {
            margin-top: 40px;
        }
    }
    &__header-1 {
            h2 {
                display: inline-block;
                font-family: 'Playfair Display BoldItalic';
                color: $black;
                font-weight: 600;
                font-size: 66px;
                background-color: $white;
                border-radius: 50px;
                line-height: 1.2em;
                padding: 15px 20px;
            }
    }
    &__header-2 {
        display: flex;
        justify-content: flex-end;
        &_mt-20 {
            margin-top: 20px;
        }
            h3 {
                display: inline-block;
                font-family: 'Playfair Display Regular';
                color: $black;
                font-weight: 400;
                font-size: 48px;
                background-color: $white;
                border-radius: 50px;
                line-height: 1.2em;
                padding: 12px 20px;
            }
    }
    &__header-3 {
        display: flex;
        justify-content: center;
        align-items: center;
            h1 {
                display: inline-block;
                font-family: 'Playfair Display BoldItalic';
                color: $black;
                font-weight: 600;
                font-size: 108px;
                background-color: $white;
                border-radius: 100px;
                line-height: 1.2em;
                padding: 20px 40px;
            }
    }
    &__go-wrapper {
        position: relative;
        display: flex;
        justify-content: center;
        &_mt-88 {
            margin-top: 88px;
            /* z-index: 1; */
        }
    }
    &__go {
        z-index: 1;
        img {
            width: 76px;
            height: 317px;
        }
    }
}

.main.main_pt-60 {
    padding-top: 60px;
}

/* .main .container {
    height: 100vh;
}
 */