.prabhupada {
    background-color: $lightgray;
    &__message-wrapper {
        margin-left: 70px;
    }
    &__loveu {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    &__photo-wrapper {
        position: relative;
        width: 570px;
        height: 670px;
        background-color: $orange;
    }
    &__photo {
        width: 570px;
        height: 670px;
        border-top-right-radius: 100%;
        border-bottom-right-radius: 100%;
        background-image: url(../img/lp-img-prabhupada_love_u.png);
        background-position: 50% 50%;
        background-size: cover;
    }
    &__header-1 {
        display: flex;
        justify-content: flex-start;
        h3 {
            display: inline-block;
            font-family: 'Playfair Display Regular';
            color: $black;
            font-weight: 400;
            font-size: 48px;
        }
        &_mt-m40 {
            margin-top: -40px;
        }
        &_fl-st {
            justify-content: flex-end;
        }
    }
    &__header-2 {
        display: flex;
        justify-content: center;
        h2 {
            display: inline-block;
            font-family: 'Playfair Display BoldItalic';
            color: $black;
            font-weight: 600;
            font-size: 66px;
            line-height: 1.2em;
        }
    }
    &__links {
        margin-top: 40px;
        margin-bottom: 40px;
    }
}